/*
 *  Copyright (C) 2016 Jamey Hicks
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
/ {
	compatible = "riscv,spike";

	#address-cells = <1>;
	#size-cells = <1>;

	bus0: axislave@0x0400000 {
		compatible = "simple-bus";
		ranges; /*  = <0 0 0x08000000 0x08000000>;*/
 	        #interrupt-cells = <3>;
		#address-cells = <1>;
		#size-cells = <1>;

		intc0: axiintc@0x0400000 {
			#address-cells = <1>;
			#size-cells = <1>;
			#interrupt-cells = <1>;
			compatible = "xlnx,xps-intc-1.00.a";
			xlnx,num-intr-inputs = <4>;
			xlnx,kind-of-intr = <0>;
			reg = <0x04180000 0x4000>;
			interrupt-controller;
			interrupt-parent = <&intc0>; // root interrupt-controller is its own parent
		};

		dma0: axidma@0x0410000 {
			#address-cells = <1>;
			#size-cells = <1>;
			#interrupt-cells = <1>;
			compatible = "xlnx,axi-dma-1.00.a";
			reg = <0x04100000 0x4000>;
			status = "ok";
			interrupt-parent = <&intc0>;
			interrupts = <2>, <3>;
		};

		eth0: ethernet@0410000 {
			#address-cells = <1>;
			#size-cells = <1>;
			#interrupt-cells = <1>;
			compatible = "xlnx,axi-ethernet-1.00.a";
			reg = <0x04140000 0x4000>;
			status = "ok";
			interrupt-parent = <&intc0>;
			interrupts = <0>, <1>;
			//clocks = <&clkc 31>, <&clkc 31>, <&clkc 14>;
			clock-names = "pclk", "hclk", "tx_clk";
			axistream-connected = <&dma0>;
			local-mac-address = [ 00 0a 35 02 3d 7f ];

		};
	};
};
